
 
#imagem-esquerda {
    background-image:url("../imagens/CI&TPodcastCarrossel.png");
    height: 650px;
    width: 90px; ]
    background: no-repeat center;
    background-size: cover;  
    max-width: 100%;
    
}

#topo-direito {
    padding: 10px;
    margin-top:20px;
}

.topo {
    margin-left: 25px;
}

.logotipo {
    background: no-repeat center;
    background-size: cover;  
    margin: 30px;
    margin-left: 120px;
}
.topo-parte-direita{
    margin: 130px 90px 0px 90px;
}

.titulo-vermelho{
    color: red;
    padding: 10px 10px 10px 0px; 
    font-weight: bold;
}

.texto-parte-direita {
    line-height: 1.7;
}

.ouca {
    color: deepskyblue;
    font-weight: bold;
    display: flex;
    margin-top: 20px;
    font-size:12px;
    border: 2px solid;
    width: 190px;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.turma {
    margin-top:80px;
    margin-left:130px;
    width: 500px;
    background-color: red;
    background-position-x: 300px;
    
}

.titulo-turma {
    color: white;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    top: 150px;
    margin-left: 150px; 
}

.texto-turma {
    background: white;
    font-size: 19px;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 180px;
    margin-bottom: 50px;
    position: absolute;
    top: 300px;
    line-height: 2;
    padding:80px 50px 0 50px;
    color: gray;
}

.depoimentos {
    text-align: left;
    color: gray;
    display: flex;
    font-size: 23px;
    padding: 140px 140px 0px 140px;
}

.autor {
    text-align: left;
    color: black;
    font-size: 20px;
    padding: 50px 140px 0 140px;
    display: block;
}

.autor-cargo {
    text-align: left;
    color: gray;
    font-size: 18px;
    display: block;
}

.entre-contato {
    color: deepskyblue;
    font-weight: bold;
    display: flex;
    margin: 100px auto 0 auto;
    font-size:20px;
    border: 2px solid;
    width: 250px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cases-titulo {
    color:red;
    font-size: 60px;
    font-weight: bold;
    margin: 120px 100px 0px 0px;
    display: block;
    text-align: right;
}

.cases-sub-titulo {
    color: gray;
    font-size: 27px;
    padding: 30px 100px 30px 50px;
    display: flex;
    text-align: right;
}

.imagem-raizen {
    display: flex;
    justify-content: right;
    justify-items: right;
    width: 300px;
    margin: 20px 0px 0px 100px;
}

.nome-raizen {
    color: black;
    font-size: 25px;
    margin: 20px 0px 0px 120px;
    display:inline-flex;
}

.titulo-raizen {
    color: red;
    font-size: 42px;
    display:inline-flex;
    margin: 0px 100px 0px 100px;
    text-indent: 0.5em;
    line-height: 1.2em;
}

.travessao-raizen:before {
    content: '\2014';
    font-size: 40px;
    color: black;
    margin: 0px 100px 0px 100px;

}
.descricao-raizen { 
    color: gray;
    font-size: 15px;
    display: flex;
    padding: 0px 200px 0px 140px;
    line-height: 2.5em;
}

.leia-raizen {
    color: deepskyblue;
    font-size: 20px;
    display: block;
    text-align: center;
    margin-left: 100px;
}

.imagem-vivo {
    width: 300px;
    float: right;
    margin:270px 100px 0px 0px;   
    

}









