
 
#imagem-esquerda {
    background-image:url("../imagens/CI&TPodcastCarrossel.png");
    height: 650px;
    width: 90px; ]
    background: no-repeat center;
    background-size: 100%;  
    max-width: 100%;
    background-position: center;
    transition: background-size 1s ease-in;
    -moz-transition: background-size 1s ease-in;
    -ms-transition: background-size 1s ease-in;
    -o-transition: background-size 1s ease-in;
    -webkit-transition: background-size 1s ease-in;

  }

#imagem-equerda:hover {{
    background-size: 150%
}
}
#topo-direito {
    padding: 10px;
    margin-top:20px;
}

.topo {
    margin-left: 25px;
}

.logotipo {
    background: no-repeat center;
    background-size: cover;  
    margin: 30px;
    margin-left: 120px;
}
.topo-parte-direita{
    margin: 130px 90px 0px 90px;
}

.titulo-vermelho{
    color: red;
    padding: 10px 10px 10px 0px; 
    font-weight: bold;
}

.texto-parte-direita {
    line-height: 1.7;
}

.ouca {
    color: deepskyblue;
    font-weight: bold;
    display: flex;
    margin-top: 20px;
    font-size:12px;
    border: 2px solid;
    width: 190px;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.turma {
    margin-top:80px;
    margin-left:130px;
    width: 500px;
    background-color: red;
    background-position-x: 300px;
    
}

.titulo-turma {
    color: white;
    font-size: 70px;
    font-weight: bold;
    position: absolute;
    top: 150px;
    margin-left: 150px; 
}

.texto-turma {
    background: white;
    font-size: 19px;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 180px;
    margin-bottom: 50px;
    position: absolute;
    top: 300px;
    line-height: 2;
    padding:80px 50px 0 50px;
    color: gray;
}

.depoimentos {
    text-align: left;
    color: gray;
    display: flex;
    font-size: 23px;
    padding: 140px 140px 0px 140px;
}

.autor {
    text-align: left;
    color: black;
    font-size: 20px;
    padding: 50px 140px 0 140px;
    display: block;
}

.autor-cargo {
    text-align: left;
    color: gray;
    font-size: 18px;
    display: block;
}

.entre-contato {
    color: deepskyblue;
    font-weight: bold;
    display: flex;
    margin: 100px auto 0 auto;
    font-size:20px;
    border: 2px solid;
    width: 250px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.cases-titulo {
    color:red;
    font-size: 60px;
    font-weight: bold;
    margin: 120px 100px 0px 0px;
    display: block;
    text-align: right;
}

.cases-sub-titulo {
    color: gray;
    font-size: 27px;
    padding: 30px 100px 30px 50px;
    display: flex;
    text-align: right;
}

.imagem-raizen {
    display: flex;
    justify-content: right;
    justify-items: right;
    width: 300px;
    margin: 20px 0px 0px 100px;
}

.nome-raizen {
    color: black;
    font-size: 25px;
    margin: 20px 0px 0px 120px;
    display:inline-flex;
}

.titulo-raizen {
    color: red;
    font-size: 35px;
    display:inline-flex;
    margin: 0px 100px 0px 100px;
    text-indent: 0.5em;
    line-height: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
}

.travessao-raizen:before {
    content: '\2014';
    font-size: 40px;
    color: black;
    margin: 0px 100px 0px 100px;

}
.descricao-raizen { 
    color: gray;
    font-size: 13px;
    display: flex;
    padding: 0px 220px 0px 140px;
    line-height: 2.5em;
}

.leia-raizen {
    color: deepskyblue;
    font-size: 20px;
    display: block;
    text-align: center;
    margin-left: 100px;
}

.imagem-vivo {
    width: 300px;
    display:block;
    justify-content: right;
    justify-items: right;
    margin: 270px 0px 0px 240px;
    
}

.nome-vivo {
    color: black;
    display: inline-flex;
    font-size: 25px;
    margin: 20px 0px 0px 260px;  
}

.titulo-vivo {
    color: red;
    font-size: 35px;
    display:inline-flex;
    margin: 0px 100px 0px 235px;
    text-indent: 0.5em;
    line-height: 1.3em;
    text-transform: uppercase;
    font-weight: bold;
}

.travessao-vivo:before {
    content: '\2014';
    font-size: 40px;
    color: black;
    margin: 0px 100px 0px 235px;

}

.descricao-vivo { 
    color: gray;
    font-size: 13px;
    display: flex;
    line-height: 2.5em;
    margin-left: 160px;
    padding: 0px 80px 0px 120px;
}

.leia-vivo {
    color: deepskyblue;
    font-size: 20px;
    display: block;
    text-align: right;
    margin-right: 80px;
}

.mais-cases {
    color: deepskyblue;
    font-weight: bold;
    display: flex;
    margin: 20px auto 0 auto;
    font-size:18px;
    border: 2px solid;
    width: 180px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.trusted {
    color: black;
    padding: 30px 0px 0px 50px;
    display: flex;
    margin: 80px 0px 50px 200px;
    font-size: 40px;
}

#container {
    margin-left: 320px;
   
}
.logo img {
    width: 170px;
    display: flex;
    opacity: 0.5;
    margin-bottom: 30px;
}

.logo img:hover {
    cursor:pointer;
    text-decoration: none;
    color: black; 
    opacity: 1.0;  
}
   
.novidades {
    color: red;
    font-size: 65px;
    text-align: center;
    padding: 100px 100px 0px 100px;
    font-weight: bold;
}

.blog {
    color: red;
    font-weight: bold;
    font-size: 30px;
    padding: 30px 0 0 70px;
    margin-left: 50px;
}

.interacao {
    padding: 20px 100px 0px 100px;

}
   
.interacao img {
    width: 230px;
    
}
.foto-1 {
    margin-left: 50px;
}

.foto-2 {
    margin-left: 35px;
   
}

.foto-3 {
    margin: 0px 35px 0px 35px;
    
}


.topico-1 {
    color: red;
    font-size: 20px;
    font-weight: bold;
    
}

.topico-2 {
    color: red;
    font-size: 20px;
    font-weight: bold;

}

.topico-3 {
    color: red;
    font-size: 20px;
    font-weight: bold;
}
    
.topico-4 {
    color: red;
    font-size: 20px;
    font-weight: bold;

}
    



